.greasidis-Organization-logo {
    position: relative;
    height: 20em;
    width: 20em;
    background-color: #199ad5;
    color: #fff;
    overflow: hidden;
    /*transform: scale(5);*/
    vertical-align: bottom;
    display: inline-block;
    font-size: 39%;
}

.greasidis-Organization-logo:before {
    content: "Gr";
    display: block;
    position: absolute;
    bottom: 0;
    right: 10%;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    font-size: 9em;
    font-family: Arial, Helvetica;
    font-weight: bold;
    /*box-shadow: -130.2px 1px 0 -34.9px #707070;*/
}

.greasidis-Organization-logo:after {
    content: "e";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 20px; */
    /* height: 20%; */
    font-size: 3.5em;
    /* width: 21%; */
    font-family: Helvetica;
    margin-bottom: 36%;
    margin-right: 2%;
}
